.calendar-container {
  margin-bottom: 20px;
}

.highlighted-date {
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Styling for hovering over the event date */
.highlighted-date:hover {
  opacity: 0.9;
  cursor: pointer;
}
