#descriptive-card {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    background-color: white;
}

#news-title {
    font-size: 24px;
    font-weight: bold;
}

#news-author, #news-created-at, #news-last-modified {
    font-size: 14px;
    color: #B59ED9;
}

#news-created-at, #news-last-modified {
    margin: 5px 0;
}
