.mjesto{
    display: flex;
    align-items: center;
    width: 92vw;
    height: 5.5vh;
    padding: 0 2vw;
    border-radius: 10px;
    font-size: 4.1vw;
    background-color: white;
}

.maleniM1{
    width: 10vw;
    margin: 0;
    font-size: 20px;
}
.maleniM2{
    width: 57vw;
    padding-left: 10vw;
    margin: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
.maleniM3{
    width: 25vw;
    margin: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #7F61BA;
}